<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <table class="table table-hover table-bordered">
            <thead class="top" style="position:sticky; top: 0; font-weight: 700;">
                <td style="width: 100px;">
                    Number
                </td>
                <td style="width: 100px;">
                    Time
                </td>
                <td class="table-primary">
                    Blue 1
                </td>
                <td class="table-primary">
                    Blue 2
                </td>
                <td class="table-primary">
                    Blue 3
                </td>
                <td class="table-danger">
                    Red 1
                </td>
                <td class="table-danger">
                    Red 2
                </td>
                <td class="table-danger">
                    Red 3
                </td>
            </thead>
            <% for (i = 0; i < matches.length; i++) { %>
                <% const blueStart = matches[i].alliances.blue.team_keys
                   const redStart = matches[i].alliances.red.team_keys %>

                <% let blue = []; let red = [];
                   blue.push(blueStart[0].substring(3))
                   blue.push(blueStart[1].substring(3))
                   blue.push(blueStart[2].substring(3))
                   red.push(redStart[0].substring(3))
                   red.push(redStart[1].substring(3))
                   red.push(redStart[2].substring(3))
                %>
                <tr 
                    <% if (blue.includes("1648")) { %> 
                        class="table-primary" 
                    <% } else if (red.includes("1648")) { %> 
                        class="table-danger" 
                    <% } %>
                    <% if (blue.includes("1648") || red.includes("1648")) { %> style="border-width:3px;" <% } %>
                >

                    <td>
                        <%= matches[i].match_number %>
                    </td>
                    <td>
                        <% const time = new Date(matches[i].predicted_time * 1000)
                           let weekday= ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                           let day = weekday[time.getDay()]
                           let hour;
                           if (time.getHours() > 12) {hour = time.getHours() - 12} else {hour = time.getHours()}
                           let minutes;
                           if (time.getMinutes() < 10) {minutes = "0" + time.getMinutes()} else {minutes = time.getMinutes()}
                           const formattedTime = `${day} ${hour}:${minutes}`
                        %>

                        <%= formattedTime %>
                    </td>
                    <td <% if (blue[0] == "1648") { %> style="font-weight: bold;" <% } %>>
                        <%= blue[0] %>
                    </td>
                    <td <% if (blue[1] == "1648") { %> style="font-weight: bold;" <% } %>>
                        <%= blue[1] %>
                    </td>
                    <td <% if (blue[2] == "1648") { %> style="font-weight: bold;" <% } %>>
                        <%= blue[2] %>
                    </td>
                    <td <% if (red[0] == "1648") { %> style="font-weight: bold;" <% } %>>
                        <%= red[0] %>
                    </td>
                    <td <% if (red[1] == "1648") { %> style="font-weight: bold;" <% } %>>
                        <%= red[1] %>
                    </td>
                    <td <% if (red[2] == "1648") { %> style="font-weight: bold;" <% } %>>
                        <%= red[2] %>
                    </td>
                </tr>
            <% } %>

            <tr>
                <td colspan="8" style="text-align: center;" class="table-warning">
                    PAST MATCHES
                </td>
            </tr>

            <% for (i = 0; i < past.length; i++) { %>
                <% 
                const blueStart = past[i].alliances.blue.team_keys
                const redStart = past[i].alliances.red.team_keys
                const blueScore = past[i].score_breakdown.blue
                const redScore = past[i].score_breakdown.red 
                %>

                <% let blue = []; let red = [];
                   blue.push(blueStart[0].substring(3))
                   blue.push(blueStart[1].substring(3))
                   blue.push(blueStart[2].substring(3))
                   red.push(redStart[0].substring(3))
                   red.push(redStart[1].substring(3))
                   red.push(redStart[2].substring(3))
                %>
                <tr class="pastMatchRow" <% if (blue.includes("1648") || red.includes("1648")) { %> style="border-width:3px;" <% } %>>

                    <td <% if (blue.includes("1648")) { %> 
                        class="table-primary" 
                    <% } else if (red.includes("1648")) { %> 
                        class="table-danger" 
                    <% } %>>
                        <%= past[i].match_number %>
                    </td>
                    <td <% if (blue.includes("1648")) { %> 
                        class="table-primary" 
                    <% } else if (red.includes("1648")) { %> 
                        class="table-danger" 
                    <% } %>>
                        <% const time = new Date(past[i].actual_time * 1000)
                           let weekday= ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                           let day = weekday[time.getDay()]
                           let hour;
                           if (time.getHours() > 12) {hour = time.getHours() - 12} else {hour = time.getHours()}
                           let minutes;
                           if (time.getMinutes() < 10) {minutes = "0" + time.getMinutes()} else {minutes = time.getMinutes()}
                           const formattedTime = `${day} ${hour}:${minutes}`
                        %>

                        <%= formattedTime %>
                    </td>
                    <td <% if (blue[0] == "1648") { %> style="font-weight: bold;" <% } if (blueScore.totalPoints > redScore.totalPoints) { %> class="table-success" <% } %>>
                        <%= blue[0] %>
                    </td>
                    <td <% if (blue[1] == "1648") { %> style="font-weight: bold;" <% } if (blueScore.totalPoints > redScore.totalPoints) { %> class="table-success" <% } %>>
                        <%= blue[1] %>
                    </td>
                    <td <% if (blue[2] == "1648") { %> style="font-weight: bold;" <% } if (blueScore.totalPoints > redScore.totalPoints) { %> class="table-success" <% } %>>
                        <%= blue[2] %>
                    </td>
                    <td <% if (red[0] == "1648") { %> style="font-weight: bold;" <% } if (redScore.totalPoints > blueScore.totalPoints) { %> class="table-success" <% } %>>
                        <%= red[0] %>
                    </td>
                    <td <% if (red[1] == "1648") { %> style="font-weight: bold;" <% } if (redScore.totalPoints > blueScore.totalPoints) { %> class="table-success" <% } %>>
                        <%= red[1] %>
                    </td>
                    <td <% if (red[2] == "1648") { %> style="font-weight: bold;" <% } if (redScore.totalPoints > blueScore.totalPoints) { %> class="table-success" <% } %>>
                        <%= red[2] %>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td colspan="2">
                        Info:
                    </td>
                    <td colspan="3">
                        Total Points: <%= blueScore.totalPoints %><br>
                        Teleop Points: <%= blueScore.teleopPoints %><br>
                        Stage Points: <%= blueScore.endGameTotalStagePoints %><br>
                        Auton Points: <%= blueScore.autoPoints %>
                    </td>
                    <td colspan="3">
                        Total Points: <%= redScore.totalPoints %><br>
                        Teleop Points: <%= redScore.teleopPoints %><br>
                        Stage Points: <%= redScore.endGameTotalStagePoints %><br>
                        Auton Points: <%= redScore.autoPoints %>
                    </td>
                </tr>
            <% } %>
        </table>
        <info>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1-uChCB6_pq0ntN7u73N1EAnWLs1GkKa8YQUMusoF0Q&s">
            <br>
            <span id="ourRank">
                Rank: <%= status.qual.ranking.rank %> <br>
                WLT: <%= `${status.qual.ranking.record.wins}-${status.qual.ranking.record.losses}-${status.qual.ranking.record.ties}` %>
            </span>
            <hr>
            <% for (i = 0; i<rankings.length; i++) { %>
                <p class="rankings">
                    <%= `${i+1}: ${rankings[i].team_key.substring(3)}` %>
                </p>
            <% } %>
        </info>
        <fullscreen>
            <i id="rlp" class="bi bi-arrow-clockwise"></i>
            <i id="fs-o" class="bi bi-fullscreen"></i>
            <i id="fs-c" style="display: none;" class="bi bi-fullscreen-exit"></i>
        </fullscreen>
    </body>
</html>

<style>
    table {
        width: 80% !important;
    }

    td {
        word-wrap: break-word;
        max-width: 10vw;

    }

    info {
        text-align: center;
        position: absolute;
        width: 20%;
        top: 0px;
        left: 80%;
    }

    h1 {
        font-size: 80px;
    }

    #ourRank {
        font-size: 40px;
    }

    .rankings {
        font-size: 20px;
    }

    fullscreen {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-top: 10px;
        margin-right: 10px;
        font-weight: bold;
    }

    fullscreen:hover {
        cursor: pointer;
    }

    .pastMatchRow {
        cursor: pointer;
    }
</style>

<script>
    function toggleFullscreen () {
        if (document.fullscreen) {
            document.exitFullscreen()
            document.getElementById('fs-c').style.display = "none"
            document.getElementById('fs-o').style.display = "block"
        } else {
            document.documentElement.requestFullscreen();
            document.getElementById('fs-c').style.display = "block"
            document.getElementById('fs-o').style.display = "none"
        }
    };

    $('#fs-c, #fs-o').on('click', function() {
        toggleFullscreen()
    })

    // $(document).ready(function () {
    //     if($("tbody").children()[0].children()[0] == $(".table-primary")[0].children()[0]-3) {
    //         $(".top").css("background-color", "red");
    //     }
        
    // })
</script>